# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      8
1  banana  medium      6
2  orange     low      4
3   apple    high      5
4  banana  medium      2
5  orange     low      3
6   apple    high      4
7  banana  medium      7
8  orange     low      9
    fruit weight  price
0   apple   high      3
1  orange    low      7
2    pine   high     11
3   apple    low      8
4  orange   high      8
5    pine    low     12

In [3]:
# - 依照 fruit 欄位做合併

pd.merge(df1, df2, on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        8     high        3
1    apple     high        8      low        8
2    apple     high        5     high        3
3    apple     high        5      low        8
4    apple     high        4     high        3
5    apple     high        4      low        8
6   orange      low        4      low        7
7   orange      low        4     high        8
8   orange      low        3      low        7
9   orange      low        3     high        8
10  orange      low        9      low        7
11  orange      low        9     high        8

In [4]:
pd.merge(df1, df2)

Empty DataFrame
Columns: [fruit, weight, price]
Index: []

In [5]:
# - 依照 index 索引做合併
df1.join(df2)

ValueError: ignored

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

merge 預設的合併方式需要兩個 dataframe 的資料都存在才會保留進行合併，只存在任一邊的資料就不見了。

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

因為二個 dataframe 的欄位重覆所以無法進行合併。

In [6]:
df1.join(df2, lsuffix='df1', rsuffix='_df2')

  fruitdf1 weightdf1  pricedf1 fruit_df2 weight_df2  price_df2
0    apple      high         8     apple       high        3.0
1   banana    medium         6    orange        low        7.0
2   orange       low         4      pine       high       11.0
3    apple      high         5     apple        low        8.0
4   banana    medium         2    orange       high        8.0
5   orange       low         3      pine        low       12.0
6    apple      high         4       NaN        NaN        NaN
7   banana    medium         7       NaN        NaN        NaN
8   orange       low         9       NaN        NaN        NaN